.sign-in {
width: 380px;
padding: 20px;
display: flex;
flex-direction: column;
padding: 5px;

 .title{
     margin : 10px 0px;
 }

 .buttons {
     display: flex;
     justify-content: space-between;
     
 }
}


